body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-color: #fafbdd96;
    color: #495255;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #5775a539;
    background-color: #fffdfb;
    border-radius: 7px;
}

/*------------------------Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 0px #dfe6e9;
}

.page_header {
    margin-left: 40px;
}

.logo {
    width: 68px;
    height: 62px;
    margin-right: 120px;
}

.header_menu {
    display: flex;
    margin-right: 250px;
    font-size: 15px;
    text-align: center;
}

.training_singUp {
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.training_singUp:hover {
    color: #fdcb6e;
    transform: scale(1.1);
}

.training_plans {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.training_plans:hover {
    color: #fdcb6e;
    transform: scale(1.1);
}

.contact_us {
    width: 200px;
    height: 50px;
    border: none;
    font-size: 18px;
    background-color: #FFE4A9;
    color: black;
    border-radius: 10px;
    transition: 0.5s;
}
.contact_us:hover {
    font-size: 19px;
    transform: scale(1.1);
}
.contact_us:active {
    transform: scale(0.92);
}


/*------------------------------------Main*/

main {
}

/*Tabs*/

.tabs_container {
    display: flex;
    height: 685px;
    margin-left: 24px;
    box-shadow: 0px 2px 0px #dfe6e9;
}
.tabs {
    width: 900px;
}
.tab_item {
    position: relative;
    opacity: 1;
    transition: 0.7s;
}
.tab_item_active {
    opacity: 1;
}
.tab_item_img {
    height: 500px;
    width: 700px;
}
.tab_text_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 425px;
    left: 515px;
    width: 470px;
    height: 180px;
    background-color: #f9eb8f8b;
}

.tab_text {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #303952;
    border: 5px solid rgb(248, 238, 219);
}


.tab_list {
    width: 450px;
    height: 250px;
    padding-left: 10px;
    margin-left: 20px;
    border-left: 3px solid #dfe6e9;
}

.tab_list h2 {
    border-bottom: 2px solid #dfe6e9;
    width: 280px;
}

.tab_header {
    width: 130px;
    padding: 3px;
    border-radius: 4px;
    transition: 0.6s;
    font-size: 21px;
}
.tab_header:hover {
    background-color: #f7e594;
    width: 160px;
    font-size: 25px;
}

/*Offer*/
.offer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 650px;
    width: 100%;
    margin: 20px 10px;
    box-shadow: 0px 2px 0px #dfe6e9;
}

.offer_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 24px;
}
.offer_information {
    margin-left: 30px;
    width: 48%;
}

.offer_btn {
    background-color: #a1d7d770;
}

.offer_information h2 {
    font-size: 26px;
    font-weight: 600;
}
.offer_information p {
    font-size: 20px;
}

.offer_slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.slider_text {
    font-size: 25px;
    margin: 10px;
}
.slider_text h3 {
    font-size: 35px;
    font-weight: 600;
}

.slider_item_img {
    height: 350px;
    width: 550px;
    margin: 24px;
}

.slider_counter {
    position: absolute;
    display: flex;
    font-size: 37px;
    top: -30px;
    right: 83px;
}

.slider_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}
.slider_btn:hover {
    box-shadow: 1px 1px 1px 1px #dfe6e9
}
.slider_btn:active {
    transform: scale(0.90);
}

.slider_btn img {
    height: 16px;
    width: 16px;
}


/*Timer*/

.content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 100%;
    margin: 20px 0px;
    box-shadow: 0px 2px 0px #dfe6e9;
}

.timer_about {
    width: 48%;
    height: 95%;
    margin-right: 4px;
    background-color: #a1d7d770;
}

.promotion_header {
    margin: 5px;
    font-size: 35px;
    font-weight: 600;
}

.promotion_text {
    margin: 40px 5px 5px;
    font-size: 20px;
}

.promotion_end {
    margin: 40px 5px 5px;
    font-weight: 600;
    font-size: 20px;
}

.timer_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    height: 95%;
    margin-left: 4px;
}

.timer_header {
    margin: 5px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 600;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 200px;
    margin-bottom: 120px;
    
}

.timer_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
    margin: 5px;
    box-shadow: 2px 3px 2px 3px #636e7246;
}

.timer_card_num {
    font-size: 75px;
    margin-top: 80px;
    font-weight: 600;
}

.timer_card_text {
    margin-bottom: 100px;
    font-size: 16px;
}


/*Modal window*/

.modal {
    position: absolute;
    top: 50%;
    right: 50%;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
    background-color: #D6ECEB;
    color: #495255;
    box-shadow: 1px 1px 1px 1px #636e7246;
    border-radius: 5px;
}

.modal_hide {
    display: none;
}
.modal_active {
    display: block;
}

.modal_dialog {
}
.modal_content {
}

.modal_content form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 290px;
    width: 490px;
}

.modal_close {
    position: absolute;
    height: 25px;
    width: 25px;
    font-size: 20px;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s;
}
.modal_close:hover {
    box-shadow: 1px 1px 1px 1px #636e7246;
    background-color: white;
}

.modal_title {
    margin-bottom: 15px;
    font-size: 30px;
}

.modal_input {
    margin: 10px;
    outline: none;
    border: none;
    height: 35px;
    width: 245px;
    border-radius: 3px;
    padding: 10px;
    font-size: 25px;
    box-shadow: 1px 1px 1px 1px #636e7246;
    color: #495255;
}



/*----------------footer*/

footer {
    height: 120px;
}