body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    /* background-color: #fafbdd96; */
    background-image: url(../img/city.jpg);
    background-size: cover;
    color: #495255;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    transition: 0.7s;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #5775a539;
    background-color: #fffdfb;
    border-radius: 7px;
}

/*------------------------Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0px 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 0px #dfe6e9;
}

.page_header {
    margin-left: 40px;
}

.logo {
    width: 68px;
    height: 62px;
    margin-right: 120px;
}

.header_menu {
    display: flex;
    margin-right: 250px;
    font-size: 15px;
    text-align: center;
}

.training_singUp {
    margin-right: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.training_singUp:hover {
    color: #fdcb6e;
    transform: scale(1.1);
}

.training_plans {
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.training_plans:hover {
    color: #fdcb6e;
    transform: scale(1.1);
}

.contact_us {
    width: 200px;
    height: 50px;
    border: none;
    font-size: 18px;
    background-color: #FFE4A9;
    color: black;
    -webkit-box-shadow: 2px 3px 14px -7px rgba(48,48,48,1);
    -moz-box-shadow: 2px 3px 14px -7px rgba(48,48,48,1);
    box-shadow: 2px 3px 14px -7px rgba(48,48,48,1);
    border-radius: 10px;
    transition: 0.5s;
    margin: 3px;
}
.contact_us:hover {
    font-size: 19px;
    transform: scale(1.1);
}
.contact_us:active {
    transform: scale(0.92);
}

.contact_us a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


/*------------------------------------Main*/

main {
}

/*Tabs*/

.tabs_container {
    display: flex;
    height: 685px;
    margin-left: 24px;
    box-shadow: 0px 2px 0px #dfe6e9;
}
.tabs {
    width: 900px;
}
.tab_item {
    position: relative;
    opacity: 1;
    transition: 0.7s;
}
.tab_item_active {
    opacity: 1;
}
.tab_item_img {
    height: 500px;
    width: 700px;
}
.tab_text_container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 374px;
    left: 615px;
    width: 470px;
    height: 180px;
    background-color: #f9eb8f8b;
}

.tab_text {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #303952;
    border: 5px solid rgb(248, 238, 219);
}


.tab_list {
    width: 450px;
    height: 250px;
    padding-left: 10px;
    margin-left: 20px;
    border-left: 3px solid #dfe6e9;
}

.tab_list h2 {
    border-bottom: 2px solid #dfe6e9;
    width: 280px;
}

.tab_header {
    width: 130px;
    padding: 3px;
    border-radius: 4px;
    transition: 0.6s;
    font-size: 21px;
    cursor: pointer;
}
.tab_header:hover {
    background-color: #f7e594;
    width: 160px;
    font-size: 25px;
}

/*Offer*/
.offer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 650px;
    width: 100%;
    margin: 20px 10px;
    box-shadow: 0px 2px 0px #dfe6e9;
}

.offer_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding-right: 24px;
}
.offer_information {
    margin-left: 30px;
    width: 48%;
}

.offer_btn {
    background-color: #dfe6e9;
}

.offer_information h2 {
    font-size: 26px;
    font-weight: 600;
}
.offer_information p {
    font-size: 20px;
}

.offer_slider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

.slide {
    display: flex;
    right: -100%;
    width: 0px;
    /* visibility: hidden; */
    opacity: 0;
    transition: 1s;
    height: 400px;
}

.active_slide {
    right: 0;
    opacity: 1;
    width: 100%;
    /* visibility: visible; */
}

.slider_text {
    font-size: 25px;
    margin: 10px;
}
.slider_text h3 {
    font-size: 35px;
    font-weight: 600;
}

.slider_item_img {
    height: 350px;
    width: 550px;
    margin: 24px;
}

.slider_counter {
    position: absolute;
    display: flex;
    font-size: 37px;
    top: -30px;
    right: 83px;
}

.slider_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
}
.slider_btn:hover {
    box-shadow: 1px 1px 1px 1px #dfe6e9
}
.slider_btn:active {
    transform: scale(0.90);
}

.slider_btn img {
    height: 16px;
    width: 16px;
}

/*Membership offer*/

.membership_offer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}
.membership_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 99%;
    margin-right: 20px;
    padding: 10px;
    background-color: #dfe6e9;
}
.membership_header {
    font-size: 40px;
    margin-bottom: 30px;
    border-bottom: 3px solid #dfe6e9;
}
.membership_card {
    background-color: #fafafa;
    width: 23%;
    padding: 5px;
    height: 80%;
    margin: 5px 25px;
    box-shadow: 1px 3px 1px 2px #6a6e6e4c;
    border-radius: 4px;
    transition: 0.7s;
}
.membership_card:hover {
    transform: scale(1.05);
}

.membership_card img {
    height: 40%;
    width: 100%;
    border-radius: 4px;
}

.membership_card_info {
    font-size: 17px;
}
.membership_card_price {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    border-top: 2px solid #dfe6e9;
    padding-top: 10px;
    font-size: 17px;
}

/*Contact form*/

.contact_form {
    flex-direction: column;
}

.contact_form h2 {
    font-size: 35px;
    margin-bottom: 120px;
    border-bottom: 3px solid #dfe6e9;
}

.contact_field {
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: space-between;
    margin-bottom: 180px;
}
.contact_field input {
    border: none;
    height: 40px;
    width: 220px;
    box-shadow: 1px 1px 1px 1px #6a6e6e4c;
    padding: 10px;
    margin: 3px;
    font-size: 25px;
    box-shadow: 1px 1px 1px 2px #636e7246;
    color: #495255;
    border-radius: 3px;
}
.contact_field input:focus {
    outline: none;
}


/*Timer*/

.content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 100%;
    margin: 20px 0px;
    box-shadow: 0px 2px 0px #dfe6e9;
}

.timer_about {
    width: 48%;
    height: 95%;
    margin-right: 4px;
    background-color: #dfe6e9;
}

.promotion_header {
    margin: 5px;
    font-size: 35px;
    font-weight: 600;
}

.promotion_text {
    margin: 40px 5px 5px;
    font-size: 20px;
}

.promotion_end {
    margin: 40px 5px 5px;
    font-weight: 600;
    font-size: 20px;
}

.timer_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
    height: 95%;
    margin-left: 4px;
}

.timer_header {
    margin: 5px;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 600;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    height: 200px;
    margin-bottom: 120px;
    
}

.timer_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
    margin: 5px;
    box-shadow: 2px 3px 2px 3px #636e7246;
}

.timer_card_num {
    font-size: 75px;
    margin-top: 80px;
    font-weight: 600;
}

.timer_card_text {
    margin-bottom: 100px;
    font-size: 16px;
}


/*Modal window*/

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #636e7288;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    z-index: 100;
}

.modal_hide {
    opacity: 0;
    left: -100%;
    transform: scale(0.5);
    transform: rotate(0.1turn);
}
.modal_active {
    opacity: 1;
    left: 0;
    transform: scale(1);
    transform: rotate(0turn);
}

.modal_dialog {
    height: 300px;
    width: 500px;
    background-color: #dfe6e9;
    color: #495255;
    box-shadow: 1px 1px 1px 1px #636e7246;
    border-radius: 5px;
}
.modal_content {
}

.modal_dialog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.modal_content form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 290px;
    width: 490px;
}

.modal_close {
    position: absolute;
    height: 25px;
    width: 25px;
    font-size: 20px;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    transition: 0.5s;
}
.modal_close:hover {
    box-shadow: 1px 1px 1px 1px #636e7246;
    background-color: white;
}

.modal_title {
    margin-bottom: 15px;
    font-size: 30px;
}

.modal_input {
    margin: 10px;
    outline: none;
    border: none;
    height: 35px;
    width: 245px;
    border-radius: 3px;
    padding: 10px;
    font-size: 25px;
    box-shadow: 1px 1px 1px 1px #636e7246;
    color: #495255;
}

.btn_send_request {
    height: 40px;
    width: 200px;
    border: none;
    background-color: #f7e594;
    border-radius: 10px;
    font-size: 23px;
    color: #495255;
    cursor: pointer;
    transition: 0.5s;
}
.btn_send_request:active {
    transform: scale(0.92);
}


/*Sides links*/

.sides_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: fixed;
    left: 1%;
    top: 35%;
    height: 350px;
    width: 60px;
}

.sides_links_text {
    height: 60%;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    font-size: 18px;
    font-weight: 600;
    padding-left: 5px;
    border-left: 1px solid #636e7246;
}
.sides_links_icon {
    height: 32px;
    width: 32px;
    margin-top: 10px;
    cursor: pointer;
}


/*----------------footer*/

footer {
    height: 160px;
    background-color: #636e72c7;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_links {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.footer_links h3 {
    font-size: 25px;
    color: #dfe6e9;
}
.footer_links a {
    text-decoration: none;
    color: #dfe6e9;
    font-size: 20px;
    margin-bottom: 25px;
}

.footer_logo {
    height: 120px;
    width: 120px;
}
.footer_contacts {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    
}
.footer_contacts h3 {
    font-size: 25px;
    color: #dfe6e9;
    margin: 0px;
}
.footer_contacts p {
    color: #dfe6e9;
    font-size: 20px;
    margin-bottom: 5px;
}